@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Fonts */

/* General Styles */

[data-aos] {
    z-index: 1 !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--montserrat);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
}


body.dark {
    background-color: #151515 !important;
}

@font-face {
    font-family: "Taruno";
    src: url(../fonts/Fontspring-DEMO-tarunowide-medium.otf);
}

:root {
    --montserrat: "Montserrat", sans-serif;
    --branco-dark: #ffffff96;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    transition: 0.3s;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:focus {
    border-radius: 20px;
}

/* General Styles */

/* Header Style */

header {
    background-color: white;
    padding: 20px 40px;
    transition: all .3s ease;
}

header.dark {
    background-color: #0F0F0F;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 89vw;
    font-family: var(--montserrat);
}

.logo img {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    padding: 0 4vw;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all .3s ease;
}

.nav-links a.dark {
    color: #fff;
}

.nav-links a:hover {
    color: grey;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: all .3s ease;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.dark .hamburger span {
    border: 1px solid #fff;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

/* Header Style */

/* Switch Theme Style */

.switchThemeDiv {
    position: fixed;
    margin-right: 4vh;
    padding-top: 2vh;
    right: 0px;
    z-index: 9999;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    position: relative;
    height: 4vh;
    min-width: 4vw;
    width: auto;
    border: 1px solid #272727;
    transition: all .3s ease;
    gap: 2vw;
}

.label.dark {
    background-color: #272727;
    border: 1px solid #fff;
}

.label .ball {
    background-color: #272727;
    border-radius: 50%;
    position: absolute;
    top: 0.3vh;
    left: 0.2vw;
    height: 3vh;
    width: 3vh;
    transform: translateX(0);
    transition: all .3s ease;
}

.ball.dark {
    background-color: #fff;
}

.checkbox:checked+.label .ball {
    transform: translateX(2.5vw);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

/* Switch Theme Style */

/* TopSlogan Style */

.topSlogan {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.topSlogan h1 {
    color: #00000077;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 2rem;
    width: 34vw;
}

h1,
span {
    transition: all .3s ease;
}

h1.dark {
    color: #ffffff86 !important;
}

span.dark {
    color: #ffffffb6 !important;
}

.topSlogan span {
    color: #2c2c2cc7;
    font-style: italic;
}

.faleConosco {
    display: flex;
}

.textConosco {
    margin-left: 1vw;
}

.talkWithUs a {
    text-decoration: none;
    color: #41A131;
    transition: all .3s ease;
}

.talkWithUs a.dark {
    color: #0066FF;
}

.talkWithUs a:hover {
    color: #32d316;
}

.talkWithUs a.dark:hover {
    color: #418af8;
}

.talkWithUs svg {
    width: 1vw;
    height: 1.8vh;
}

.talkWithUs path.dark {
    stroke: #0066FF;
}

/* TopSlogan Style */

/* Echo 3D Style */

.echo3d {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90vw;
    height: 46vh;
    border-radius: 20px;
    transition: all .3s ease;
}

.box.dark {
    background-color: #0F0F0F;
}

.img3D {
    position: relative;
    overflow: visible;
    width: 91vw;
    height: 55vh;
}

.img3D img {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 51.5vh;
    max-width: 100vw;
    max-height: none;
    object-fit: contain;
}

/* Echo 3D Style */

/* aboutEcho Style */

.aboutEcho {
    padding: 5%;
}

.aboutH1,
.whatDo {
    font-size: 2rem;
    width: 50vw;
    color: #00000077;
    font-weight: 600;
}




.aboutEcho span {
    color: #2c2c2cc7;
    font-style: italic;
}

.aboutEcho h1:nth-child(3) {
    margin-top: 8vh;
}

.generalBoxs {
    display: flex;
    justify-content: space-between;
    margin-top: 9vh;
    gap: 2vw;
}

.cardDevs {
    display: flex;
    background-color: #fff;
    width: 48vw;
    height: auto;
    min-height: 43vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    overflow: hidden;
    transition: all .3s ease;
}

.cardDevs.dark {
    background-color: #0F0F0F;
}

.imageBox {
    width: 31vw;
    background-color: #ddd;
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #888;
    border-radius: 10px;
    transition: all .3s ease;
}

.imageBox.dark {
    background-color: #0B0B0B;
}

.aboutPerson {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 6%;
}

.aboutPerson h1 {
    font-size: 1.6rem;
    color: #000;
    transition: all .3 ease;
}

.aboutPerson h1.dark {
    color: var(--branco-dark) !important;
}


.aboutPerson p {
    text-align: justify;
}

.infoBox {
    padding: 2%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoBox p {
    color: #555;
    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
}

.infoBox p.dark {
    color: #ffffff86;
}

.roleBox {
    margin-top: 1vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 5%;
}

.roleBox h2 {
    margin: 0 0 0.5em 0;
    color: #000;
    font-size: 1.2em;
}

.roleBox h2.dark {
    color: #ffffffb0 !important;
}

.roleBox span {
    color: #000;
    font-size: 1em;
}

/* aboutEcho Style */

/* Portfolio Style */


.portfolio h1 {
    color: #000000b7;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 2rem;
    padding-left: 5%;
    padding-bottom: 2vh;
}

.carouselBackground {
    background-color: #fff;
    width: 100%;
    height: 46vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s ease
}

.carouselBackground.dark {
    background-color: #0F0F0F;
}

.carousel {
    padding: 3% 5%;
    display: flex;
    gap: 2vh;
}

/* Abade Suger */

.abadeSuger {
    background-color: #060606;
    height: 36vh;
    width: 50vw;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.abadeSuger span {
    color: #fff;
    padding: 1%;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.imgAbade {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.imgAbade img {
    width: 100%;
    height: 38vh;
    object-fit: cover;
    position: relative;
    bottom: 1vh;
}

.btnVer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #41A131;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transition: all .3s ease;
    font-style: italic;
}

.btnVer.dark {
    background-color: #0066FF;
}

.btnVer svg {
    width: 20px;
    height: 20px;
    margin-left: .5vw;
}

.btnVer:hover {
    background-color: #09a604;
}

.btnVer.dark:hover {
    background-color: #428cfa;
}

/* Abade Suger */

/* Federalista */

.federalista {
    background-color: #151515;
    height: 36vh;
    width: 50vw;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.federalista span {
    color: #fff;
    padding: 1%;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.imgAbade {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.imgAbade img {
    width: 100%;
    height: 38vh;
    object-fit: cover;
    position: relative;
    bottom: 1vh;
}

/* Federalista */


/* Portfolio Style */

/* Planos Style */

.planos {
    margin-top: 5vh;
}

.planos h1 {
    color: #000000b7;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 2rem;
    padding-left: 5%;
    padding-bottom: 2vh;
}

.pricing-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.cartao {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 22vw;
    min-height: 60vh;
    padding: 20px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    transition: all .3s ease;
}

.cartao.dark {
    background-color: #0F0F0F;
}


.cartao h2 {
    color: #000000b7;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 2rem;
    padding-left: 5%;
    padding-bottom: 2vh;
    transition: all .3s ease;
}

.cartao h2.dark {
    color: #ffffff96;
}

.cartao-footer {
    margin-top: auto;
}

.cartao ul {
    flex-grow: 1;
    transition: all .3s ease;

}

.cartao ul.dark {
    color: #ffffff83;
}


.cartao-footer button:hover {
    background-color: #45a049;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.price a {
    padding: 2%;
    color: #fff;
    text-decoration: none;
    background-color: #349B24;
    border-radius: 10px;
    transition: all .3s ease;
}

.price a.dark {
    background-color: #0066FF;
}


.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #291C1D;
    border-radius: 20px;
    font-family: var(--montserrat);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    width: calc(100% - 40px);
}

.info.dark {
    background-color: #353535;
}


.info a {
    color: #fff;
    font-family: var(--montserrat);
    text-decoration: none;
}

.cartao-footer p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    transition: all .3s ease;
}

.cartao-footer p.dark {
    color: #fff;
}

.cartao.plus .star {
    color: #FFD700;
    font-size: 20px;
    vertical-align: middle;
}

.price {
    display: flex;
    margin-top: 2vh;
}

/* Planos Carousel */

#carouselExample {
    display: none;
}

.setaEsquerda,
.setaDireita {
    width: 6vw;
}

/* Planos Carousel */

/* Planos Style */

/* Faq Style */

.faqs {
    padding: 5%;
}

.faqs h1 {
    color: #00000077;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 2rem;
}

.faqs span {
    color: #2c2c2cc7;
}

.duvida {
    display: flex;
    margin-top: 5vh;
}

.textDuvida {
    margin-left: 1vw;
}

.faq-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    margin-top: 9vh;
}

.askHere a {
    text-decoration: none;
    color: #41A131;
    transition: all .3s ease;
}

.askHere a.dark {
    color: #0161F0;
}

.askHere svg {
    width: 1vw;
    height: 1.8vh;
}

.askHere path {
    transition: all .3s ease;
}

.askHere path.dark {
    stroke: #0066FF;
}

.faq-card {
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-card span {
    color: #41A131;
    text-decoration: underline;
    transition: all .3s ease;
}

.faq-card span.dark {
    color: #0161F0 !important;
}

.faq-card h2 {
    color: #2c2c2c;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    font-weight: 600;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.faq-card h2.dark {
    color: var(--branco-dark);
}

.faq-card p {
    color: #5a5a5a;
    font-size: 1rem;
    font-family: var(--montserrat);
    line-height: 1.5;
    margin-bottom: 20px;
}

.faq-card p.dark {
    color: #ffffff7a;
}

.faq-card button {
    align-self: flex-start;
    background-color: #3aaf3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 1rem;
    transition: all .3s ease;
}

.faq-card button.dark {
    background-color: #0161F0;
}

.faq-card button:hover {
    background-color: #319931;
}

.faq-card button:hover {
    background-color: #3b86f5;
}

@media (max-width: 768px) {
    .faq-grid {
        grid-template-columns: 1fr;
    }

    .faq-card {
        padding: 15px;
    }

    .faq-card h2 {
        font-size: 1.25rem;
    }

    .faq-card p {
        font-size: 0.9rem;
    }

    .faq-card button {
        font-size: 0.9rem;
    }
}

/* Faq Style */

/* WhyEcho Style */

.whyEcho {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 1vh;
}

.whyEcho h1 {
    padding: 1% 5%;
}


.texts {
    width: 70vw;
    text-align: justify;
    padding-left: 5%;
    transition: all 3s ease;
}

.texts.dark {
    color: #ffffff7a;
}

.text2 {
    margin-top: 2vh;
}

/* WhyEcho Style */

/* Contact Style */

.contact {
    padding: 5%;
}

.contact h1 {
    color: #00000077;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 2rem;
}


.contact span {
    color: #2c2c2cc7;
    font-style: italic;
}

.generalContact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7vh;
}

.imgEchoContact {
    position: absolute;
    z-index: -1;
    left: 25vw;
    margin-top: 20vh;
}

.imgEchoContact img {
    height: 60vh;
    width: 42vw;
}

main {
    position: relative;
    z-index: -1;
}

/* Form Style */

.formContact {
    width: 34vw;
    padding: 1em;
    background-color: #F0F0F0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s ease;
}

.formContact.dark {
    background-color: #202020;
}

.form-group {
    position: relative;
    margin-bottom: 2vh;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px 10px 12px 10px;
    font-size: 16px;
    border: 2px solid #aaa;
    border-radius: 13px;
    background-color: #F0F0F0;
    box-shadow: none;
    transition: all .3s ease;
}

.form-group input.dark,
.form-group select.dark,
.form-group textarea.dark {
    background-color: #202020;
    color: #ffffffa8;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #007bff;
}

.form-group label {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 16px;
    color: #999;
    transition: all 0.3s;
    pointer-events: none;
    background-color: transparent;
}

/* Efeito de Floating Label */
.form-group input:focus~label,
.form-group input:not(:placeholder-shown)~label,
.form-group select:focus~label,
.form-group select:not([value=""])~label,
.form-group textarea:focus~label,
.form-group textarea:not(:placeholder-shown)~label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #007bff;
    background-color: #F0F0F0;
    transition: all .3s ease;
    padding: 0 5px;
}

.form-group input.dark:focus~label,
.form-group input.dark:not(:placeholder-shown)~label,
.form-group select.dark:focus~label,
.form-group select.dark:not([value=""])~label,
.form-group textarea.dark:focus~label,
.form-group textarea.dark:not(:placeholder-shown)~label {
    background-color: #202020;
    color: #ffffff77;
}

.form-group select:not([value=""])~label {
    top: -10px;
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: right;
}

.btnEnviar {
    outline: none;
    border: none;
    background-color: #349B24;
    color: #fff;
    padding: 2%;
    width: 19em;
    height: 4vh;
    display: flex;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.btnEnviar.dark {
    background-color: #0066FF;
}

.btnEnviar:hover {
    background-color: #33c21d;
}

/* Form Style */

/* General Infos Style */

.generalInfos {
    margin-right: 12%;
}

.mapOfSite,
.socialMedias {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.mapOfSite h1,
.socialMedias h1 {
    font-size: 1.5rem;
}

.mapOfSite a,
.socialMedias a {
    text-decoration: none;
    color: #00000081;
    padding: 2%;
    transition: all .3s ease;
}

.mapOfSite a.dark,
.socialMedias a.dark {
    color: #ffffff6b;
}


.mapOfSite a:hover,
.socialMedias a:hover {
    color: #000000b4;
}

.mapOfSite a.dark:hover,
.socialMedias a.dark:hover {
    color: #ffffff9c;
}

.socialMedias {
    margin-top: 2vh;
}

.feedback {
    display: flex;
    margin-top: 5vh;
}

.feedbackStars {
    display: flex;
    margin-left: 1vw;
    justify-content: left;
    flex-direction: column;
}

.feedbackStars img {
    width: 11em;
    height: 3vh;
}

.imgFeedback img,
.imgConosco img,
.imgDuvida img {
    width: 3em;
    height: 5vh;
}

.copyright {
    display: flex;
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    align-items: center;
}

.imgEchoCopy img {
    width: 2em;
    height: 2vh;
    margin-right: 10px;
}

.copyright span {
    font-family: "Taruno";
    color: #00000088;
    font-size: .7rem;
}


/* General Infos Style */


/* Contact Style */

/* Responsivity */


@media screen and (max-width: 1140px) {

    .nav-link.dark {
        color: #000 !important;
    }

    /* Header Style  */

    nav {
        justify-content: flex-start;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-left: 0;
        transition: all 0.3s ease;
        overflow-y: hidden;
    }

    .nav-links.active {
        left: 0;
        z-index: 9999;
        overflow-y: hidden;
    }

    .nav-links li {
        padding: 0;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active {
        z-index: 10000;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Header Style  */

    /* Devs Info */

    .generalBoxs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardDevs {
        width: 91vw;
    }

    /* Devs Info */

    /* Contact Style */

    .generalInfos {
        margin-right: 2%;
    }

    /* Contact Style */

    /* Why Echo? */

    .texts {
        width: 87vw;
    }

    /* Why Echo? */
}

@media screen and (max-width: 1668px) {
    .price a {
        text-align: center;
    }

    .abadeSuger span {
        z-index: 2;
    }

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
        display: block;
        height: 92vh;
    }
}

@media screen and (max-width: 1440px) {
    .checkbox:checked+.label .ball {
        transform: translateX(3vw);
    }
}

@media screen and (max-width: 1327px) {

    .pricing-card {
        display: none;
    }

    #carouselExample {
        display: block;
    }

    .cartao {
        margin: 3vh auto;
        width: 86vw;
        min-height: 83vh;
    }

    .cartao h2 {
        text-align: center;
    }

    .cartao ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;
        background-color: #291C1D;
        border-radius: 20px;
        font-family: var(--montserrat);
        transform: translateY(20px);
        transition: opacity 0.4s ease, transform 0.4s ease;
        position: absolute;
        bottom: 18vh;
        left: 50%;
        transform: translateX(-50%) translateY(20px);
        width: calc(68vw - 6vw);
        opacity: 1;
    }
}

@media screen and (min-width: 1328px) {

    .cartao:hover {
        width: 25vw !important;
    }

    .cartao:hover .info {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .checkbox:checked+.label .ball {
        transform: translateX(6vw);
    }

    .label {
        min-width: 11vw;
    }

    .cardDevs {
        flex-direction: column;
    }

    .imageBox {
        width: 85vw;
        min-height: 32vh;
        height: auto;
    }

    .aboutPerson,
    .roleBox {
        width: 85vw;
    }

    .generalContact {
        flex-direction: column;
    }

    .formContact {
        width: 85vw;
    }

    .generalInfos {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
        flex-direction: row;
        width: 76vw;
        margin-top: 7vh;
    }

    .mapOfSite,
    .socialMedias {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
    }

    .mapOfSite h1,
    .socialMedias h1 {
        font-size: 1.5rem;
        min-height: 50px;
        margin-bottom: 0.5rem;
    }

    .mapOfSite a,
    .socialMedias a {
        text-decoration: none;
        color: #00000081;
        padding: 2%;
        transition: all .3s ease;
    }

    .socialMedias {
        margin: 0px;
    }
}

@media screen and (max-width: 425px) {
    .label {
        min-width: 16.5vw;
    }

    .checkbox:checked+.label .ball {
        transform: translateX(8vw);
    }

    .carouselBackground {
        height: auto;
    }

    .carousel {
        flex-direction: column;
    }

    .abadeSuger,
    .federalista {
        width: 91vw;
    }

    .topSlogan {
        flex-direction: column;
    }

    .topSlogan h1 {
        color: #00000077;
        font-family: var(--montserrat);
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
        width: 66vw;
    }

    .faleConosco,
    .feedback {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .infoTop {
        margin-top: 5vh;
    }

    .aboutH1,
    .whatDo {
        font-size: 2rem;
        width: 76vw;
        text-align: center;
        margin: 0 auto;
    }

    .cartao ul {
        text-align: center;
    }

    .label .ball {
        left: 1.2vw;
    }
}

/* Responsivity */