@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

::-webkit-scrollbar {
    width: 12px; 
  }
  
 
::-webkit-scrollbar-track {
    background-color: #000; 
}
  
 
::-webkit-scrollbar-thumb {
    background-color: #4d4c4c;
    transition: 0.3s;
    border-radius: 20px;
}
  
  
::-webkit-scrollbar-thumb:hover {
    background-color: #929090;
}
::-webkit-scrollbar-thumb:focus{
    border-radius: 20px;
}   

.interface{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.btn-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #333;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: #fff;
    font-family: "Rubik", sans-serif;
}

button:hover, form .btn-submit input:hover{
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

h2.title{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.title span{
    color: #7a2cbf;
}


/* Header Style */

header{
    padding: 40px 4%;
    display: flex;
    background-image: url(../img/wallpaper\ echo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 71%;
}
header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.desktop-menu a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.desktop-menu ul li{
    display: inline-block;
    padding: 0 40px;
    font-family: "Rubik", sans-serif;
} 

#echo-logo {
    width: 111px;
    height: 111px;
    transition: 0.3s;
    cursor: pointer;
}

#echo-logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}





